*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Afacad Flux", sans-serif;
}
.nav{
    background: #000000;
    width: 100vw;
    height: 7rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
#logo{
    display: flex;
    height: 100%;
    color: #ffffff;
    align-items: center;
    gap: 1rem;
    margin-left: 30rem;
}
#logo > h3 {
    font-size: 4rem;
}
#logo > img{
    height: 6rem;
    padding: .25rem;
}
#nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_button{
    background: #000000;
    border-style: none;
    height: 7rem;
    width: 15rem;
    transition: background .5s;
    color: #F7F7F8;
    font-size: 2.5rem;
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
}
.list_button:hover{
    background: #ffffff;
    color: #000000;
}
#menu_container{
    display: flex;
    flex-direction: row-reverse;
}
#menu{
    margin-right: 35rem;
}
#menu_list{
    height: 7rem;
    display: flex;
}

footer{
    width: 100vw;
    height: 10.5rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.footer_Collum{
    display: flex;
    justify-content: center;
}
.main_img{
    background: url(img/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.main_img > h1 {
    font-size: 500%;
    position: relative;
    top: 7rem;
}
.main_button{
    background: #ffffff;
    border-style: none;
    height: 6rem;
    width: 15rem;
    transition: background .5s;
    color: #000000;
    font-size: 2.5rem;
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
    position: relative;
    top: 7.5rem;
}
.main_button:hover{
    background: #000000;
    color: #ffffff;
}
.info{
    height: 90vh;
    background: rebeccapurple;
}